body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-brand {
    font-weight: bold;
}

.video-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#videoInput, #canvasOutput {
    width: 100%;
    max-width: 640px;
    height: auto;
}

.card-title {
    font-size: 1.2rem;
    color: #0d6efd;
}

.card-text {
    font-weight: bold;
    color: #495057;
}